@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tighter
    }
    
    .btn-primary {
        @apply bg-black text-white
    }
    
    .btn-text {
        @apply text-black bg-transparent
    }

    .logo-ticker-img {
       @apply h-8 w-auto; 
    }

    .section-text {
        @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
    }

    .section-title {
        @apply text-center text-3xl md:text-[54px] md:leading-[60px]  font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text
    }

    .section-description {
        @apply text-center text-[22px] leading-8 tracking-tight text-[#010D3E] mt-5
    }

    .section-header {
        @apply max-w-[540px] mx-auto
    }

    .card {
        @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
    }
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Variable.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.switch {
    width: 160px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.switch[data-isOn="true"] {
    justify-content: flex-end;
}

.handle {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
}